version: '3.8'

services:
  php_canary:
    image: ${DOCKER_HUB_USER}/crudback:${BUILD_NUMBER}  # Новая версия
    deploy:
      replicas: 1  # Canary: 1 реплика (тест на 1 ноде)
      labels:
        - "traefik.http.routers.canary.rule=PathPrefix(`/canary`)"  # Маршрутизация трафика
      update_config:
        parallelism: 1
        delay: 10s
    ports:
      - "8081:80"  # Отдельный порт для canary
    environment:
      - APP_ENV=canary
      - DB_HOST=mysql_canary

  mysql_canary:
    image: ${DOCKER_HUB_USER}/mysql:${BUILD_NUMBER}
    deploy:
      replicas: 1
    environment:
      - MYSQL_ROOT_PASSWORD=canary_password  # Отдельный пароль для теста

